<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title></title>

  <!-- /*this portion supports survey view in handlebars*/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascript/logic.js"></script>

  <!-- /*custom css*/ -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
  <!-- <div id="nav-space">
    <div id="home-button"></div>
    <div id="about-button"></div>
    <div id="login-button"></div>
    <div id="mem-orgs-button"></div>
  </div> -->
  <ul class="voad-navbar">
    <li><a href="/">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="/Register">Login</a></li>
    <li><a href="#">Member Orgs</a></li>
    <div></div>
  </ul>


  {{{ body }}}

  <div class="site-footer-social">
    <div>
      <a href="https://twitter.com/nationalvoad/">
              <img alt="twitter" src="assets/media/social-twitter.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
    <div>
      <a href="https://www.facebook.com/NVOAD/">
              <img alt="facebook" src="assets/media/social-facebook.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
    <div>
      <a href="https://www.youtube.com/channel/UCvBA8K70vuSlakwxZNui0yg">
              <img alt="youtube" src="assets/media/social-youtube.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
    <div>
      <a href="https://www.instagram.com/nationalvoad/">
              <img alt="instagram" src="assets/media/social-instagram.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
  </div>

  <div id="team">
    <!-- //insert team photos here and GH links -->
  </div>

</body>

</html>
