<!-- may not need this; need to discuss whether we'll have dynamically created navbars based on user types (e.g. unregistered v admin v normal registered) -->

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/About">About</a></li>
  <li><a href="/Register">Login</a></li>
  <li><a href="/MemberOrgs">Member Orgs</a></li>
  <div></div>
</ul>
