<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">

  <title>DCVOAD</title>

  <!-- fonts & libraries -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:600|Roboto+Condensed:300" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>

  <!-- logic javascript -->
  <script type="text/javascript" src="javascript/logic.js"></script>

  <!-- test csv-dl.js file -->
  <!-- <script type="text/javascript" src="javascript/csv-dl.js"></script> -->

  <!-- test csv-dl.js file -->
  <!-- <script type="text/javascript" src="javascript/db-pull.js"></script> -->

  <!-- userPage javascript -->
  <script type="text/javascript" src="javascript/userPage.js"></script>

  <!-- dropDown javascript -->
  <script type="text/javascript" src="javascript/dropDown.js"></script>

<script type="text/javascript" src="javascript/csv-dl.js"></script>

  <!-- custom CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/dropDown.css">

</head>

<body>

  <header class="masthead">
    <div class="JESlogo">

        <!-- navbar -->
        <div class="voad-navbar">
          <a href="/"><img alt="home emblem" id="VOAD-logo" src="assets/media/DCVOAD.png"></a>
          <a href="/about">About</a>
          <a href="/members">Member Organizations</a>
          <a href="/register">Member Survey</a>
          <div id="blank-space"></div>
        </div>
      </div>
    </header>

<!-- body will be connected here by handlebars -->
{{{ body }}}

    <!-- footer -->
    <footer class="JEScolophon">
      <div class="site-footer-social">

        <!-- link to NVOAD twitter -->
        <div>
          <a href="https://twitter.com/nationalvoad/">
            <img alt="twitter" src="assets/media/social-twitter.svg">
          </a>
        </div>

        <!-- link to NVOAD facebook -->
        <div>
          <a href="https://www.facebook.com/NVOAD/">
            <img alt="facebook" src="assets/media/social-facebook.svg">
          </a>
        </div>

        <!-- link to NVOAD youtube -->
        <div>
          <a href="https://www.youtube.com/channel/UCvBA8K70vuSlakwxZNui0yg">
            <img alt="youtube" src="assets/media/social-youtube.svg">
          </a>
        </div>

        <!-- link to NVOAD instagram -->
        <div>
          <a href="https://www.instagram.com/nationalvoad/">
            <img alt="instagram" src="assets/media/social-instagram.svg">
          </a>
        </div>

      </div>
    </footer>

    <!-- link to subfooter with Dev credit -->
    <section class="buckets grid">
      <ul>
        <li>
          <img src="assets/media/groupphoto.jpg" alt="team pic">
          <div class="bucket">
            <p id="team-names">Built by: <br /><a href=https://github.com/perryjen>Jen</a>, <a href=https://github.com/0n11san>Jon</a>, <a href=https://github.com/Codjam>Jamal</a> & <a href=https://github.com/nalston2017>Nathan</a></p>
          </div>
        </li>
      </ul>
    </section>

    <a href="#" class="adminlogin">Admin Login</a>

  </body>
</html>
