<div id="aboutOrgInfo">
  <h3>
    DCVOAD is a territory member of National VOAD
  </h3>
  <p>
    National VOAD, an association of organizations that mitigate and alleviate the impact of disasters, provides a forum promoting cooperation, communication, coordination and collaboration; and fosters more effective delivery of services to communities affected by disaster.
  </p>
  <div></div>
  <p>
    The National VOAD coalition includes over 50 of the country's most reputable national organizations (faith-based, community-based and other non-governmental organizations) and 55 State/Territory VOADs, which represent Local/Regional VOADs and hundreds of other member organizations throughout the country.
  </p>
  <div></div>
</div>
