<ul>
<li>Adventist Community Services</li>
<li>All Hands Volunteers</li>
<li>American Baptist Men</li>
<li>American Radio Relay League</li>
<li>American Red Cross</li>
<li>Brethren Disaster Ministries</li>
<li>Catholic Charities, USA</li>
<li>Christian Disaster Response International</li>
<li>Christian Reformed World Relief Committee</li>
<li>Church World Service</li>
<li>Church of Scientology Disaster Response Volunteer Ministers</li>
<li>City Team Ministries</li>
<li>Convoy of Hope</li>
<li>Episcopal Relief and Development</li>
<li>Feeding America (Formerly America's Second Harvest)</li>
<li>Feed the Children</li>
<li>Habitat for Humanity International</li>
<li>Headwaters Relief Organization</li>
<li>Hope Coalition America</li>
<li>The Humane Society of the United States</li>
<li>International Aid</li>
<li>International Critical Incident Stress Foundation</li>
<li>International Organization for Victim Assistance</li>
<li>International Relief and Development</li>
<li>International Relief Friendship Foundation</li>
<li>Jewish Federations of North America</li>
<li>Latter-Day Saint Charities</li>
<li>Lutheran Disaster Response</li>
<li>Mennonite Disaster Service</li>
<li>Mercy Medical Airlift</li>
<li>National Association of Jewish Chaplains</li>
<li>National Organization for Victim Assistance</li>
<li>Nazarene Disaster Response</li>
<li>Noah's Wish - Animal Disaster Response</li>
<li>Presbyterian Disaster Assistance</li>
<li>REACT International</li>
<li>The Salvation Army</li>
<li>Samaritan’s Purse</li>
<li>Save the Children</li>
</ul>
