<div id="surveyblock">

  <h1>DCVOAD</h1>


<h3 class="panel-title"><strong>If your information has changed, please update it below.</strong></h3>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <form role="form">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="userName" status="complete" onchange="userAuthen()">
            </div>

            <div class="form-group">
              <label for="name">Organization Name</label>
              <input type="text" class="form-control" id="orgName" status="complete" onchange="orgNameAuthen()">
            </div>

            <div class="form-group">
              <label for="role">Organization Website</label>
              <input type="text" class="form-control" id="orgWebsite" status="complete" onchange="orgWebsiteAuthen()">
            </div>

            <div class="form-group">
              <label for="age">Public Contact Phone Number</label>
              <input type="text" class="form-control" id="orgNumber" placeholder="Format: XXX-XXX-XXXX" status="complete" onchange="orgNumberAuthen()">
            </div>

            <div class="form-group">
              <label for="age">Public Contact Phone Number extension</label>
              <input type="text" class="form-control" id="extension1" status="complete" onchange="exten1Authen()">
            </div>

            <div class="form-group">
              <label for="force-points">Public Contact Email Address</label>
              <input type="text" class="form-control" id="orgEmail" status="complete" onchange="orgEmailAuthen()">
            </div>

            <div class="form-group">
              <label for="role">Blurb about Organization (1000 characters or less)</label>
              <input type="text" class="form-control" id="blurb" status="complete" onchange="blurbAuthen()">
            </div>

            <div class="form-group">
              <label for="name">Meeting Planning Point of Contact Name *</label>
              <input type="text" class="form-control" id="mpp_con_name" status="complete" onchange="mppConAuthen()">
            </div>

            <div class="form-group">
              <label for="force-points">Meeting Planning Email Address *</label>
              <input type="text" class="form-control" id="mpp_email" status="complete" onchange="mppEmailAuthen()">
            </div>

            <div class="form-group">
              <label for="force-points">Organization Address *</label>
              <input type="text" class="form-control" id="address" placeholder="Address" status="complete" onchange="addressAuthen()">
              <input type="text" class="form-control" id="city" placeholder="City" status="complete" onchange="cityAuthen()">
              <input type="text" class="form-control" id="state" placeholder="State" status="complete" onchange="stateAuthen()">
              <input type="text" class="form-control" id="post_code" placeholder="Postal Code" status="complete" onchange="postCodeAuthen()">
            </div>

            <div class="form-group">
              <label for="name">Emergency Point of Contact Name *</label>
              <input type="text" class="form-control" id="emergency_contact" status="complete" onchange="EmergenConNameAuthen()">
            </div>

            <div class="form-group">
              <label for="phoneNumber">Emergency Contact Phone Number 1 *</label>
              <input type="text" class="form-control" id="emerg_con_tel_number1" placeholder="Format: XXX-XXX-XXXX" status="complete" onchange="emerg1NumberAuthen()">
            </div>

            <div class="form-group">
              <label for="extenstion">Extension</label>
              <input type="text" class="form-control" id="emerg_extension1" status="complete" onchange="emergExt1Authen()">
            </div>

            <div class="form-group">
              <label for="phoneNumber">Emergency Contact Phone Number 2</label>
              <input type="text" class="form-control" id="emerg_con_tel_number2" placeholder="Format: XXX-XXX-XXXX" status="complete" onchange="emerg2NumberAuthen()">
            </div>

            <div class="form-group">
              <label for="extenstion">Extension</label>
              <input type="text" class="form-control" id="emerg_extension2" status="complete" onchange="emergExt2Authen()">
            </div>

            <div class="form-group">
              <label for="force-points">Emergency Contact Email Address</label>
              <input type="text" class="form-control" id="emergency_contact_email" status="complete" onchange="emergConEmailAuthen()">
            </div>

          </form>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary btn-md" id="save-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-fire"></span>Save Changes</button>
      </div>
    </div>

</div>
