body{
  /* margin: 0;
  padding: 0;
  position: relative;
  background: #bfc2c2; */
  /*background-image: url("0B80BAAB-8FF5-4894-B448-A480051E7F28-1-192x128.png");*/
}
nav{
  width: 100%;
  height: 99px;
  position: relative;
  /*this one (is)had background:*/
  background: #ff7f00;
  box-shadow: 0px 2px 8px 0px #333;
  padding-left: 100px;

}
.nav-container{
  width: 1000px;
  margin: 0 auto;
  position: relative;
  /*this one had background:*/


}
.nav-container>.logo{
  width: 200px;
  height: 65px;
  background: #fff;
  float: left;
}
.menu{
  width: 100%;
  height: 65px;
  /*this one had background:*/

}
.menu>.menu-content{
  width: 200px;
  height: 65px;
  float: right;
  font-family: sans-serif, Arial;
  font-size: 16px;
  font-weight: bold;letter-spacing: -0.05em;
  position: relative;
  color: #fff;
  line-height: 78px;
  padding-right: 72;
}
.menu>.menu-content>a{
  color: #fff;
  text-decoration: none;
}
/* .arrow-up{
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #fff;
  right: 153px;
  top: 50px;
  display: none;
} */
.login-form{
  position: absolute;
  width: 300px;
  height: auto;
  background: #fff;
  right: 61px;
  top: 116px;
  border-radius: 3px;
  border-bottom: 5px solid gray;
  display: none;

}
.login-form>form{
  width: 250px;
  margin: 25px auto;
  font-size: 20px;
  font-family: sans-serif,Arial;
  color: gray;
  letter-spacing: -0.05em;
}

.jamaldropdown {
  width: 240px;
  height: 30px;
  border: 0px;
  outline: none;
  box-shadow: insert 0 0 10px #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: sans-serif,Arial;
  font-size: 16px;
}
input[type="submit"]{
  width: 95%;
  height: 35px;
  background: #ff7f00;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif,Arial;
  color: white;
  outline: none;
  border: 0px;
  border-radius: 3px;
  letter-spacing: -0.05em;
  cursor: pointer;
}
input[type="submit"]:hover{
  background: #ff5800;
}
.fa{
  margin-right: 5px;
}
.register-form{
  position: absolute;
  width: 300px;
  height: auto;
  background: #fff;
  right: 61px;
  top: 62px;
  border-radius: 3px;
  border-bottom: 5px solid gray;
  display: none;

}
.register-form>form{
  width: 250px;
  margin: 25px auto;
  font-size: 20px;
  font-family: sans-serif,Arial;
  color: gray;
  letter-spacing: -0.05em;
}
